<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>注销</title>
    <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css">  
	<script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
	<script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
   
</head>
<body>
    <img id="img" src="static/img/2.jpg" alt="" style="width:100%;position:fixed;right:0;bottom:0;min-width:100%;min-height:100%;height:auto;z-index:-100;background-size:cover">
    <div class="container">
        <br><br><br>
        <h2 style="background:CornflowerBlue;text-align:center;margin:auto;font-size:40px;font-weight:bold;color:white">感谢访问</h2><br><br><br>
        <h2 style="text-align:center;margin:auto;font-size:50px;font-weight:bold;color:blue">注销成功</h2><br><br><br>
　　 </div>

</body>

<p style="text-align:center;margin:auto;font-size:20px;font-weight:bold;color:black">Please go back to the <a href="/"><b>main page</b></a>.</p>
</html>
