<!DOCTYPE html>
{% extends "layout1.html" %}
{% block body %}
<img id="img" src="static/img/3.jpg" alt="" style="width:100%;position:fixed;right:0;bottom:0;min-width:100%;min-height:100%;height:auto;z-index:-100;background-size:cover">

<div class="container col-md-6 col-md-offset-3">
    <div class="well" style="background:#FFF8DC;float:none;display:block;margin-left:auto;margin-right:auto">
        <ul class="nav nav-pills" style="text-align:center;font-size:30px">
            <li class=""><a href="#car_data" data-toggle="tab" aria-expanded="false">上传车辆视频</a></li>
            <li class=""><a href="#car_video" data-toggle="tab" aria-expanded="false">查看车辆数据</a></li>
            <li class="active"><a href="#traffic_behavior_analysis" data-toggle="tab" aria-expanded="true">交通行为分析</a></li>
            <li class=""><a href="#bad_traffic_behavior" data-toggle="tab" aria-expanded="false">不良交通行为</a></li>
        </ul>

        <div id="myTabContent" class="tab-content" style="float:none;display:block;margin-left:auto;margin-right:auto">
            <div class="tab-pane fade" id="car_data">
                <form method="POST" action="/car_data"　enctype="multipart/form-data" autocomplete="off">
                    <div class="form-group"><br><br>
                        <label for="videotype" style="text-align:center;font-size:20px">选择类型: </label>
                        <input style="text-align:center;font-size:15px" list="video_types" name="video_type" placeholder="选择查看的车辆数据类型" required>
                        <datalist id="video_types">
                            <option value="路测视频">
                            <option value="无人机视频">
                            <option value="车内视频">
                            <option value="地感线圈">
                        </datalist>
                    </div>
                    <div class="form-group" enctype=multipart/form-data>
                        <label for="carfile" style="text-align:center;font-size:20px">上传车辆数据：</label>
                        <br>
                        <input type="file" name="carfile" class="btn btn-info" style="background:CornflowerBlue">
                    </div><br>
                    <button type=submit class="btn btn-lg" style="color:white;background-color:CornflowerBlue;border-radius:18px;padding:8px 40px;font-size:25px ">上传</button>
                </form>
            </div>

            <div class="tab-pane fade" id="car_video">
                <form method = 'post' action="/car_video" enctype="multipart/form-data" autocomplete="off">
                    <!--
                    <div class="form-group">
                        <br><br>
                        <label for="car_id" style="text-align:center;font-size:20px">车辆编号 : </label>
                        <input style="text-align:center;font-size:20px;width:25%" type="text" name="car_id" class="form-control" id="car_id">
                     </div><br>
                     -->
                    <!--
                    <div class="form-group"><br><br>
                       <label for="videoimg" style="text-align:center;font-size:20px">选择视频: </label>
                       <input style="text-align:center;font-size:15px" list="videoimgs" name="videoimg" placeholder="选择查看的视频" required>
                       <datalist id="videoimgs">
                           {% for dir in dirlist %}
                               <option value="{{ dir }}">
                           {% endfor %}
                       </datalist>
                     </div><br>
                     -->
                    <!--
                    <div class="form-group"><br><br>
                       <label for="videoimg" style="text-align:center;font-size:20px">选择视频: </label>
                       <input style="text-align:center;font-size:15px" list="videoimgs" name="videoimg" placeholder="选择查看的视频" >
                       <datalist id="videoimgs">
                           {% for dir in dirlist %}
                               <option value="{{ dir }}">
                           {% endfor %}
                       </datalist>
                     </div><br>
                     -->
                    <!--
                  <div class="form-group"><br><br>
                    <label for="video" style="text-align:center;font-size:20px">选择视频: </label>
                    <input style="text-align:center;font-size:15px" list="videos" name="video" placeholder="选择查看的视频" >
                    <datalist id="videos">
                        {% for dir in dirlist %}
                            <option value="{{ dir }}">
                        {% endfor %}
                    </datalist>
                  </div><br>
                   -->
                    <div class="form-group" enctype=multipart/form-data>
                        <br><br>
                        <label for="videofile" style="text-align:center;font-size:20px">选择视频文件：</label>
                        <br>
                        <input type="file" name="videofile" class="btn btn-info" style="background:CornflowerBlue">
                    </div><br>
                    <button type=submit class="btn btn-lg" style="color:white;background-color:CornflowerBlue;border-radius:18px;padding:8px 40px;font-size:25px ">确定</button>
                </form>
            </div>

            <div class="tab-pane fade active in" id="traffic_behavior_analysis">
                <form method = 'post' action="/traffic_behavior_analysis" enctype="multipart/form-data" autocomplete="off">
                    <div class="form-group"><br><br>
                        <label for="video_type" style="text-align:center;font-size:20px">选择视频类型: </label>
                        <input style="text-align:center;font-size:15px" list="videotypes" name="video_type" placeholder="选择视频类型" required>
                        <datalist id="videotypes">
                            <option value="路测视频">
                            <option value="无人机视频">
                            <option value="车内视频">
                            <option value="地感线圈">
                        </datalist>
                    </div><br>
                    <div class="form-group">
                        <label for="video_num" style="text-align:center;font-size:20px">选择视频路数: </label>
                        <input style="text-align:center;font-size:15px" list="video_nums" name="video_num" placeholder="选择视频路数" required>
                        <datalist id="video_nums">
                            <option value="1">
                            <option value="2">
                            <option value="3">
                            <option value="4">
                            <option value="5">
                            <option value="6">
                            <option value="7">
                            <option value="8">
                            <option value="9">
                            <option value="10">
                        </datalist>
                    </div><br>
                    <button type=submit class="btn btn-lg" style="color:white;background-color:CornflowerBlue;border-radius:20px;padding:8px 30px;font-size:20px">开始分析</button>
                </form>
            </div>


            <div class="tab-pane fade" id="bad_traffic_behavior">
                <form method = 'post' action="/bad_traffic_behavior" enctype="multipart/form-data" autocomplete="off">
                    <div class="form-group">
                        <br><br>
                        <label for="car_id" style="text-align:center;font-size:20px">车俩编号 : </label>
                        <input style="text-align:center;font-size:20px;width:25%" type="text" name="car_id" class="form-control" id="car_id">
                    </div><br>
                    <button type=submit class="btn btn-lg" style="color:white;background-color:CornflowerBlue;border-radius:18px;padding:8px 40px;font-size:25px">查询</button>
                </form>
            </div>
        </div>
    </div>
</div>
<div class="container col-md-6 col-md-offset-3">
    <h1 style="font-size:30px;text-align:center;background:CornflowerBlue;color:white">result</h1>
</div>
<div class="container col-md-6 col-md-offset-3">
    <div class="well" style="background:#FFF8DC">
        <h2 style="text-align:center;font-size:30px;color:#6495ED">交通行为分析结果({{video_num}}路 {{video_type}})</h2>
        <style>
            .table_list_box{
                table-layout:fixed !important;
            }
            .warning_table_wrapper_head{
                width:700px;
                height:60px;
                margin-left:30px;
                margin-top:20px;
            }
            .warning_table_wrapper_body{
                width:700px;
                height:400px;
                margin-left:auto;
                margin-right:auto;
                overflow:auto;
            }
    </style>
        <!--
        <div class="panel" style="background:#FFF8DC">
            <div class="panel-body" style="padding-bottom:1px;">
                <form class="form-horizontal">
                    <div class="form-group">
                        <div class="col-sm-3">
                            <input type="text" name="searchString_id" class="form-control" placeholder="请输入车辆ID"
                                   onkeydown="javascript:if(event.keyCode==13)searchId();"/>
                        </div>
                        <div class="col-sm-1">
                            <button type="button" class="btn btn-primary btn-w-m" id="queryBtn">
                                <span class="glyphicon glyphicon-search"></span>搜索
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>

        <div class="ibox-content">
            <table id="table_head"></table>
        </div>
        <div class="warning_table_wrapper_head">
            <table id="table_head" class="table table-hover table-bordered" style="text-align:center";>
                <colgroup>
                    <col width="100">
                    <col width="100">
                    <col width="200">
                    <col width="100">
                    <col width="100">
                </colgroup>
                <thead>

                <tr style="background:#6495ED;color:white;text-align:center">
                    <th data-field="id">车辆 ID</th>
                    <th data-field="time">发生时间</th>
                    <th data-field="location">发生地点</th>
                    <th data-field="long">持续时长</th>
                    <th data-field="v">速度</th>
                    <th data-field="a">加速度</th>
                </tr>

                </thead>

            </table>
        </div>
        -->
        <div class="warning_table_wrapper_body" style="overflow-y:auto;overflow-x:auto;margin-top:0px">
            <table id="table_content" class = "table table-hover table-bordered" style="text-align:center;font-size:20px;background:#FFF8DC"
                   data-toggle="table";
                   data-show-columns="true";
                   data-show-toggle="true";
                   data-search="true";
                   data-show-refresh="true";
                   data-toolbar="true";
                   data-pagination="true";
                   data-page-size="5";
                   data-page-list="[5,10,15,20,25,All]">
                <colgroup>
                    <col width="100">
                    <col width="100">
                    <col width="200">
                    <col width="100">
                    <col width="100">
                </colgroup>
                <thead style="background:#6495ED;color:white;text-align:center">
                <tr style="background:#6495ED;color:white;text-align:center">
                    <th data-field="id">车辆 ID</th>
                    <th data-field="time">发生时间</th>
                    <th data-field="location">发生地点</th>
                    <th data-field="long">持续时长</th>
                    <th data-field="v">速度</th>
                    <th data-field="a">加速度</th>
                </tr>
                </thead>
                <tbody>
                {% if final %}
                {% for i in range(length) %}
                <tr>
                    <td>{{ final[i][0]}}</td>
                    <td>{{ final[i][1]}}</td>
                    <td>{{ final[i][2]}}</td>
                    <td>{{ final[i][3]}}</td>
                    <td>{{ final[i][4]}}</td>
                    <td>{{ final[i][5]}}</td>
                </tr>
                {% endfor %}
                {% endif %}
                </tbody>
            </table>
            <!--
            <script type="text/javascript">
            $(document).ready(function() {
                $("#table_content").bootstrapTable({
                    search: true;
                    columns: [{
                        field: 'id',
                        title: '车辆 ID'
                    },  {
                        field: 'time',
                        title: '发生时间'
                    },  {
                        field: 'location',
                        title: '发生地点'
                    },  {
                        field: 'long',
                        title: '持续时长'
                    },  {
                        field: 'v',
                        title: '速度'
                    },  {
                        field: 'a',
                        title: '加速度'
                    },]
                });
            });
            </script>-->
        </div><br>
        <p style="text-align:center;margin:auto;font-size:15px;color:#6495ED"><strong>注：</strong> 速度单位为千米每小时,加速度单位为千米每小时方,车辆位置单位为米</p>
    </div>
</div>

{% endblock %}

